fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
numpy
pandas
joblib
scikit-learn
xgboost
python-jose
passlib
python-multipart
pydantic
pydantic-settings
geoalchemy2
shapely
pillow
cloudinary
email-validator